.root {
  -fx-background-color: white;
}

.Button {
  -fx-background-color: #b0b0b0;
  -fx-background-radius: 30;
  -fx-background-insets: 0;
  -fx-text-fill: white;
}
.HPbutton {
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
}

.text-field {
  -fx-border-color: grey;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}

.text-field:focused {
  -fx-border-color: #37465d;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}

#datasourceHP {
  -fx-background-color: #4cb6ce;
}

#categorieHP {
  -fx-background-color: #fedd2d;
}

#mvoHP {
  -fx-background-color: #f59c00;
}

#createBtn {
  -fx-background-color: #2a9716;
}
#deleteBtn {
  -fx-background-color: #d63e23;
}

/* ---- START List View ---- */
.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0px;
  -fx-font-weight: bold;
  -fx-background-color: white;
  -fx-background-radius: 10px;
  -fx-border-color: #41587a;
  -fx-border-width: 3px;
  -fx-border-radius: 10px;
}

.list-view .list-cell:hover {
  -fx-background-radius: 10px;
  -fx-background-color: #37465d;
  -fx-text-fill: white;
}

.list-view .list-cell:selected {
  -fx-margin: 0px;
  -fx-background-radius: 10px;
  -fx-background-color: #37465d;
  -fx-text-fill: white;
}

.list-view .list-cell {
  -fx-background-color: white;
  -fx-background-radius: 10px;
}

.list-view .list-cell:empty {
  -fx-background-color: transparent;
}
.list-view .list-cell:empty:hover {
  -fx-background-color: transparent;
}

.list-view:focus {
  -fx-outline: none !important;
  -fx-border-color: #68befb !important;
  -fx-border-width: 10px !important;
  -fx-border-radius: 20px;
}

.list-view .scroll-bar:vertical {
  -fx-background-color: #37465d;
}

.list-view .increment-button,
.list-view .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.list-view > .increment-button > .increment-arrow,
.list-view > .decrement-button > .decrement-arrow {
  -fx-background-color: white;
}

.list-view .scroll-bar:vertical .thumb {
  -fx-background-color: #6075c8;
  -fx-background-insets: 5, 5, 5;
  -fx-background-radius: 5;
}

.list-view .scroll-bar:horizontal {
  -fx-scale-x: 0;
}
.virtual-flow > .corner {
  -fx-background-color: #37465d;
}
/* ---- END List View ---- */
