.root {
  background-color: #f59c00;
}

.button {
  border-color: #4cb6ce;
  border-radius: 10px;
  overflow: hidden;
}

#datasourceHP {
  background-color: #4cb6ce;
}

#categorieHP {
  background-color: #000000;
}
/* #fedd2d */

#mvoHP {
  background-color: #f59c00;
}
